<main *ngIf="!isLoading && pokemon.length; else loadingOrError">
  <!-- Botão Voltar no topo -->
  <a [routerLink]="['']" class="btn-back" [@fadeInSlide]> ← Voltar </a>

  <!-- Nome do Pokémon -->
  <section class="pokemon-header" [@fadeInSlide]>
    <h1>{{ pokemon[0]?.name }}</h1>
  </section>

  <!-- Imagem do Pokémon -->
  <section class="pokemon-image" [@zoomIn]>
    <img
      *ngIf="pokemon[0]?.sprites?.other?.dream_world?.front_default"
      [src]="pokemon[0].sprites.other.dream_world.front_default"
      [alt]="pokemon[0]?.name"
    />
  </section>

  <!-- Estatísticas -->
  <section class="pokemon-stats" [@listStagger]>
    <h2>Estatísticas</h2>
    <ul>
      <li *ngFor="let stat of pokemon[0]?.stats">
        <span>{{ stat.stat.name }}</span>
        <strong>{{ stat.base_stat }}</strong>
      </li>
    </ul>
  </section>
</main>

<ng-template #loadingOrError>
  <div class="error-state">
    <img src="../../../assets/error.png" alt="Erro ao carregar Pokémon" />
    <p>Erro ao carregar os dados do Pokémon.</p>
  </div>
</ng-template>
